
@{
    Layout = "~/Views/Layout/MainLayout.cshtml";
    var Name = Resources.views.mant_segs;
    var Title = Resources.views.segmento;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @* < CSS > *@
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    @* < CSS / >*@

    @* < SCRIPTS > *@
    <!-- DataTables  & Plugins -->
    <script src="~/Content/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/Content/AdminLTE/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/AdminLTE/plugins/select2/js/select2.full.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/Content/AdminLTE/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/jquery-validation/additional-methods.min.js"></script>
    @* < SCRIPTS / >*@
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper">
            <!-- Encabezado -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@Name</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("Manager","Inicio")">@Resources.views.inicio</a></li>
                                <li class="breadcrumb-item active">@Resources.views.inventario</li>
                                <li class="breadcrumb-item active">@Resources.views.segmentos</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section><!-- Encabezado -->
            <!-- Muestra de Segmentos -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="overlay-wrapper">
                                        <div id="spn_tbl_segments" class="overlay justify-content-center">
                                            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                                            <div class="text-bold pt-2">@Resources.views.cargando</div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="button" class="btn btn-primary float-right fa-pull-right" onclick="onClickBtnAddSegment()"><i class="fa fa-plus"> </i> @Resources.views.agregar</button>
                                        </div>
                                        <div id="tbl_content_segments" class="dataTables_wrapper dt-bootstrap4">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>@Resources.views.cod</th>
                                                        <th>@Resources.views.descripcion</th>
                                                        <th>@Resources.views.subCategoria</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- Muestra de Categorías -->
            <!-- Modal -->
            <div id="modal_segment" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <form id="form_segment" class="modal-content">
                        <!-- Spinner Modal -->
                        <div id="spn_modal_segment" class="overlay">
                            <i class="fas fa-2x fa-sync fa-spin"></i>
                        </div><!-- Spinner Modal -->

                        <!-- Encabezado Modal -->
                        <div class="modal-header text-center">
                            <h4 id="title_modal_segment" class="modal-title"></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div><!-- Encabezado Modal -->

                        <!-- Cuerpo Modal -->
                        <div class="modal-body" style="overflow: auto">
                            <input type="hidden" id="segID" />
                            <div class="form-group">
                                <label for="code" class="col-sm-2 control-label">@Resources.views.cod</label>
                                <input id="code" name="code" type="text" class="form-control" placeholder="@Resources.views.ingresar_cod" />
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">@Resources.views.descripcion</label>
                                <input id="description" name="description" type="text" class="form-control" placeholder="@Resources.views.ingresar_desc" />
                            </div>
                            <div class="form-group">
                                <label for="subCategoria" class="col-sm-2 control-label">@Resources.views.subCategoria</label>
                                <select id="subCategory" name="subCategory" class="form-control select2bs4" style="width: 100%;"></select>
                            </div>
                        </div><!-- Cuerpo Modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="onClickBtnNewSegmento()"> <i class="fa fa-plus"></i> @Resources.views.nuevo</button>
                            <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> @Resources.views.guardar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa fa-ban"></i> @Resources.views.cerrar</button>
                        </div>
                    </form><!-- Modal content-->
                </div>
            </div><!-- Modal -->
        </div>
    </div>

    @* Variables *@
    <script>
        var urls = {
            init: '@Url.Action("GetInitData", "Segmentos")',
            save: '@Url.Action("Save", "Segmentos")',
            segments: '@Url.Action("GetSegmentos", "Segmentos")',
        };
        var elements = {
            div_table: "tbl_content_segments", spn_table: "spn_tbl_segments",
            spn_modal: "spn_modal_segment", modal: "modal_segment",
            title_modal: "title_modal_segment", form: "form_segment"
        };
        var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, timer: 4000 }); // Variable para mostrar los mensajes.
        var lists = { segments: [], subCategories: [] }
        var rules = {
            code: { required: true, maxlength: 17 },
            description: { required: true, maxlength: 80 },
            subCategory: { required: true, number: true }
        }; // Roles que cumplirán los componentes del formulario
        var messages = {
            code: {
                required: "@Resources.messages.validacion_cod_req",
                maxlength: "@Resources.messages.validacion_cod_max"
            },
            description: {
                required: "@Resources.messages.validacion_desc_req",
                maxlength: "@Resources.messages.validacion_desc_maxLen"
            },
            subCategory: { required: "@Resources.messages.validacion_req" }
        }; // Ménsajes de error para el formulario
    </script>

    @* Funciones *@
    <script>
        $(function () {
            fillMenuItemsLayout();
            applyInitPlugins();
            hideInitElements();
            getInitialData();
        });

        function applyInitPlugins() {
            $(".select2").select2({ theme: "bootstrap4" });
            StartLoadTable(elements.div_table, true);
            EndLoadTable("@Name", elements.div_table, true);
            setValidationForm();
        }

        function hideInitElements() {
            $("#" + elements.spn_modal).hide();
        }

        function findSubCategory(id) {
            return lists.subCategories.find(x => x.ID === id);
        }

        function findSegment(id) {
            return lists.segments.find(x => x.ID === id);
        }

        function fillMenuItemsLayout() {
            openMenu(["#nav-item-inventarios"]);
            activeItemMenu([".nav-item-inventarios", "#nav-link-inventarios-segmentos"])
        }

        function fillTableSegments() {
            try {
                StartLoadTable(elements.div_table, true);
                $("#" + elements.spn_table).show();
                if (lists.segments) {
                    $("#" + elements.div_table + " > table > tbody").html("");
                    lists.segments.forEach(function (d) {
                        var row = $("<tr />"), subCateg = findSubCategory(d.SubCategoryID);
                        $("#" + elements.div_table + " > table").append(row);
                        row.append($("<td> " + d.Code + "</td>"));
                        row.append($("<td> " + d.Description + "</td>"));
                        row.append($("<td> " + (subCateg ? subCateg.Description : "-@Resources.views.no_def-") + "</td>"));
                        var title = "@Resources.views.editar @Resources.views.segmento";
                        row.append($("<td><button class='btn btn-primary' title='" + title + "' data-toggle='modal' data-target='' onClick='onClickBtnEditSegment(" + d.ID + ")'> <i class='fa fa-edit' aria-hidden='true'></i></button></td>"));
                    });
                } else Toast.fire({ icon: 'warning', title: '@Resources.messages.msj_lista_vacia' });
                EndLoadTable("@ViewBag.Head", elements.div_table, true);
                $("#" + elements.spn_table).hide();
            } catch (e) { error(e, "@Resources.messages.error_llenar_registros"); }
        }

        function fillSelect() {
            $('#subCategory').select2({
                placeholder: '@Resources.views.buscar',
                data: lists.subCategories.map(x => { return { 'id': x.ID, 'text': x.Description } }),
                theme: 'bootstrap4'
            });
        }

        async function getInitialData() {
            try {
                $("#" + elements.spn_table).show();
                await $.get(urls.init).done(async function (data) {
                    if (data.Status) {
                        lists.segments = data.Result.list_segments;
                        lists.subCategories = data.Result.list_subCategories;
                        await fillTableSegments();
                        fillSelect();
                        $("#" + elements.spn_table).hide();
                    } else {
                        error(data.InternalMessage, data.Message);
                        $("#" + elements.spn_table).hide();
                    }
                }).fail(function (data) { error(data, "@Resources.messages.error_obt_regs"); });
            } catch (e) { error(e, "@Resources.messages.error_obt_regs"); }
        }

        async function getSegmentos() {
            try {
                $("#" + elements.spn_table).show();
                await $.get(urls.segments).done(async function (data) {
                    if (data.Status) {
                        lists.segments = data.Result.list_segments;
                        await fillTableSegments();
                        $("#" + elements.spn_table).hide();
                    } else {
                        error(data.InternalMessage, data.Message);
                        $("#" + elements.spn_table).hide();
                    }
                }).fail(function (data) { error(data, "@Resources.messages.error_obt_regs"); });
            } catch (e) { error(e, "@Resources.messages.error_obt_regs"); }
        }

        function getSegmentFromModal() {
            var data = {
                ID: $("#segID").val(),
                SubCategoryID: $("#subCategory").val(),
                Code: $("#code").val(),
                Description: $("#description").val()
            }

            return data;
        }

        function setSegmentInModal(seg) {
            try {
                $("#segID").val(seg.ID);
                $("#code").val(seg.Code);
                $("#description").val(seg.Description);
                $("#subCategory").val(seg.SubCategoryID).trigger("change");
            } catch (e) {
                error(e, "@Resources.messages.error_mostrar_reg_edit");
            }
        }

        function setValidationForm() {
            $.validator.setDefaults({ submitHandler: function () { onSubmitSave(); } });

            $('#' + elements.form).validate({
                rules: rules, messages: messages, errorElement: 'span',
                errorPlacement: function (err, element) {
                    err.addClass('invalid-feedback ml-2');
                    element.closest('.form-group').append(err);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        }

        function onClickBtnAddSegment() {
            if ($("#segID").val() !== "") openModal(false);
            else openModal(true);
        }

        function onClickBtnEditSegment(id) {
            var seg = findSegment(id);
            if (seg) {
                setSegmentInModal(seg);
                openModal(false);
            } else Toast.fire({ icon: "warning", title: "@Resources.messages.error_reg_edit_inval" });
        }

        function onClickBtnNewSegmento() {
            Swal.fire({
                title: "@Resources.messages.msj_continuar", html: "@Resources.messages.msj_campos_limpiar", icon: 'warning', showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    openModal(true);
                    limpiarModal();
                }
            });
        }

        async function onSubmitSave() {
            try {
                var seg = getSegmentFromModal();
                $("#" + elements.spn_modal).show();
                $.post(urls.save, { 'segment': seg}, "json").done(async function (data) {
                    Toast.fire({ icon: (data.Status ? 'success' : 'error'), title: data.Message });
                    if (data.Status) {
                        $("#segID").val(data.Result);

                        await getSegmentos();
                        $("#" + elements.spn_modal).hide();
                    }
                    $("#" + elements.spn_modal).hide();
                }).fail(function () {
                    error("ERROR GUARDAR", "@Resources.messages.error_intento_guardar");
                    $("#" + elements.spn_modal).hide();
                });
            } catch (e) { error(e, "@Resources.messages.error_intento_guardar"); }
        }

        function limpiarModal() {
            $("#" + elements.form + " input").val("");
            $("#subCategory").val(null).trigger("change");
        }

        /** Abre la modal */
        function openModal(is_new) {
            $("#" + elements.title_modal).html((is_new ? "@Resources.views.agregar" : "@Resources.views.editar") + " @Resources.views.segmento");
            $('#' + elements.modal).modal({ backdrop: 'static', keyboard: false });
        }

        /** Muestra un error, recibe excepcion para mostrar en consola y el mensaje para el usuario. */
        function error(e, msj) {
            Toast.fire({ icon: 'error', title: msj });
            console.error(e);
        }
    </script>
</body>
</html>
